DB_URL=postgresql+pg8000://postgres:password@localhost:5432/faceai
ROOT_PASSWORD=root_password
ADMIN_PASSWORD=admin_password
ROOT_DIR=C:/projects/FaceAIBackend/

HOST=localhost
PORT=8000
USE_HTTPS=false

FRONTEND_HOST=http://localhost:5173
FRONTEND_WEBSOCKET=ws://localhost:5173